HeyITriedMongo/src/main/resources/static/fhirErrorRepoResult.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
          <!-- XML Schema Generated from XML Document on Wed Feb 05 2020 11:48:25 GMT-0500 (Eastern Standard Time) -->
          <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
       <xsd:element name="RESULTS">
              <xsd:complexType>
                     <xsd:sequence>
                            <xsd:element name="ROW" maxOccurs="unbounded">
                                   <xsd:complexType>
                                          <xsd:sequence>
                                                 <xsd:element name="COLUMN" maxOccurs="unbounded">
                                                        <xsd:complexType>
                                                               <xsd:simpleContent>
                                                                 <xsd:extension base="xsd:string">
                                                                   <xsd:attribute name="NAME" type="xsd:string"></xsd:attribute>
                                                                 </xsd:extension>
                                                               </xsd:simpleContent>
                                                         </xsd:complexType>
                                                    </xsd:element>
                                             </xsd:sequence>
                                      </xsd:complexType>
                               </xsd:element>
                        </xsd:sequence>
                 </xsd:complexType>
          </xsd:element>
   </xsd:schema>
